In [1]:
import pandas as pd
import numpy as np

In [2]:
# Attempt to load the dataset with ISO-8859-1 encoding
data = pd.read_csv("/Users/sivagar/Downloads/Watches Bags Accessories.csv", encoding='ISO-8859-1')

# Display the first few rows of the dataset and its general information
data.head(), data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1078 entries, 0 to 1077
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            1078 non-null   object
 1   Rating in Stars  1078 non-null   object
 2   Rating Count     1078 non-null   int64
 3   Sold Count       1044 non-null   object
 4   Voucher          1078 non-null   object
 5   Delivery         1078 non-null   object
 6   Currency         1078 non-null   object
 7   Current Price    1078 non-null   object
 8   Original Price   1010 non-null   object
 9   Link             1078 non-null   object
 10  Category         1078 non-null   object
dtypes: int64(1), object(10)
memory usage: 92.8+ KB

(                                               Title Rating in Stars  \
 0  Yfashion Cartoon  Electronic  Watch Life Water...           4.6/5
 1  100% Imported LED watch for men , boys and Kid...           4.3/5
 2  1 Cartoon Characters Analog Wrist Watch For Ki...           4.5/5
 3  M3 Touch LED Bracelet Digital Watch Band Good ...           4.6/5
 4            led Watches For Boys and Girls and kids           4.4/5

    Rating Count Sold Count Voucher       Delivery Currency Current Price  \
 0           707    6K Sold       0  Free Delivery      Rs.           287
 1           293    1K Sold       0              0      Rs.           270
 2            57   452 Sold       0  Free Delivery      Rs.           225
 3            51   332 Sold       0  Free Delivery      Rs.           160
 4            54   476 Sold       0  Free Delivery      Rs.           198

   Original Price                                               Link  \
 0        Rs. 520  //www.daraz.pk/products/y-led-3-i258744118-s14...
 1        Rs. 999  //www.daraz.pk/products/100-led-2023-i40167553...
 2        Rs. 750  //www.daraz.pk/products/1-i423737473-s20070599...
 3        Rs. 299  //www.daraz.pk/products/m3-led-led-i432456407-...
 4        Rs. 300  //www.daraz.pk/products/led-i398157365-s192654...

        Category
 0  Kids Watches
 1  Kids Watches
 2  Kids Watches
 3  Kids Watches
 4  Kids Watches  ,
 None)

In [3]:
# Display unique values in the 'Rating in Stars' column to identify anomalies
data['Rating in Stars'].unique()

array(['4.6/5', '4.3/5', '4.5/5', '4.4/5', '3.8/5', '5-Apr', '3.6/5',
       '3.9/5', '4.8/5', '4.2/5', '5-May', '4.7/5', '3.4/5', '3.3/5',
       '3.5/5', '2.8/5', '5-Mar', '4.1/5', '3.7/5', '4.9/5', '0', '3.2/5',
       '5-Jan', '2.3/5', '3.1/5'], dtype=object)

In [4]:
# Display unique values in the 'Sold Count' column to identify format inconsistencies
data['Sold Count'].unique()

array(['6K Sold', '1K Sold', '452 Sold', '332 Sold', '476 Sold',
       '689 Sold', '2K Sold', '404 Sold', '184 Sold', '217 Sold',
       '182 Sold', '256 Sold', '371 Sold', '137 Sold', '142 Sold',
       '93 Sold', '465 Sold', '179 Sold', '90 Sold', '330 Sold',
       '117 Sold', '109 Sold', '55 Sold', '612 Sold', '212 Sold',
       '74 Sold', '62 Sold', '398 Sold', '100 Sold', '653 Sold',
       '35 Sold', '34 Sold', '316 Sold', '32 Sold', '427 Sold', '47 Sold',
       '95 Sold', '48 Sold', '729 Sold', '651 Sold', '373 Sold',
       '248 Sold', nan, '143 Sold', '551 Sold', '307 Sold', '135 Sold',
       '42 Sold', '121 Sold', '954 Sold', '41 Sold', '33 Sold',
       '846 Sold', '799 Sold', '57 Sold', '88 Sold', '274 Sold',
       '308 Sold', '50 Sold', '71 Sold', '73 Sold', '655 Sold',
       '146 Sold', '51 Sold', '58 Sold', '555 Sold', '122 Sold',
       '36 Sold', '0', '31 Sold', '194 Sold', '586 Sold', '30 Sold',
       '38 Sold', '80 Sold', '176 Sold', '222 Sold', '200 Sold',
       '126 Sold', '160 Sold', '454 Sold', '107 Sold', '37 Sold',
       '84 Sold', '123 Sold', '139 Sold', '64 Sold', '18K Sold',
       '3K Sold', '35K Sold', '5K Sold', '843 Sold', '910 Sold',
       '693 Sold', '4K Sold', '33K Sold', '858 Sold', '823 Sold',
       '447 Sold', '501 Sold', '432 Sold', '444 Sold', '358 Sold',
       '266 Sold', '189 Sold', '234 Sold', '562 Sold', '804 Sold',
       '235 Sold', '199 Sold', '264 Sold', '319 Sold', '788 Sold',
       '154 Sold', '405 Sold', '153 Sold', '166 Sold', '133 Sold',
       '691 Sold', '687 Sold', '361 Sold', '158 Sold', '992 Sold',
       '725 Sold', '242 Sold', '201 Sold', '11K Sold', '834 Sold',
       '650 Sold', '532 Sold', '112 Sold', '636 Sold', '797 Sold',
       '114 Sold', '372 Sold', '434 Sold', '727 Sold', '346 Sold',
       '103 Sold', '688 Sold', '831 Sold', '85 Sold', '115 Sold',
       '277 Sold', '118 Sold', '81 Sold', '384 Sold', '537 Sold',
       '111 Sold', '573 Sold', '593 Sold', '164 Sold', '657 Sold',
       '101 Sold', '461 Sold', '810 Sold', '96 Sold', '206 Sold',
       '202 Sold', '225 Sold', '65 Sold', '105 Sold', '720 Sold',
       '94 Sold', '97 Sold', '590 Sold', '66 Sold', '249 Sold',
       '102 Sold', '345 Sold', '577 Sold', '77 Sold', '333 Sold',
       '183 Sold', '381 Sold', '54 Sold', '889 Sold', '203 Sold',
       '519 Sold', '812 Sold', '213 Sold', '239 Sold', '417 Sold',
       '268 Sold', '10K Sold', '830 Sold', '928 Sold', '314 Sold',
       '279 Sold', '460 Sold', '7K Sold', '9K Sold', '676 Sold',
       '580 Sold', '945 Sold', '363 Sold', '341 Sold', '467 Sold',
       '12K Sold', '620 Sold', '169 Sold', '232 Sold', '563 Sold',
       '180 Sold', '441 Sold', '175 Sold', '621 Sold', '92 Sold',
       '508 Sold', '393 Sold', '515 Sold', '527 Sold', '973 Sold',
       '253 Sold', '261 Sold', '326 Sold', '395 Sold', '549 Sold',
       '186 Sold', '369 Sold', '156 Sold', '192 Sold', '637 Sold',
       '552 Sold', '836 Sold', '959 Sold', '378 Sold', '170 Sold',
       '134 Sold', '82 Sold', '385 Sold', '110 Sold', '128 Sold',
       '231 Sold', '89 Sold', '625 Sold', '668 Sold', '177 Sold',
       '449 Sold', '614 Sold', '502 Sold', '547 Sold', '618 Sold',
       '652 Sold', '876 Sold', '852 Sold', '439 Sold', '438 Sold',
       '387 Sold', '609 Sold', '353 Sold', '424 Sold', '554 Sold',
       '250 Sold', '815 Sold', '496 Sold', '822 Sold', '300 Sold',
       '17K Sold', '293 Sold', '930 Sold', '220 Sold', '647 Sold',
       '523 Sold', '984 Sold', '275 Sold', '383 Sold', '521 Sold',
       '216 Sold', '629 Sold', '8K Sold', '208 Sold', '833 Sold',
       '124 Sold', '292 Sold', '108 Sold', '228 Sold', '700 Sold',
       '428 Sold', '131 Sold', '161 Sold', '418 Sold', '525 Sold',
       '498 Sold', '61 Sold', '680 Sold', '86 Sold', '484 Sold',
       '174 Sold', '402 Sold', '138 Sold', '325 Sold', '75 Sold',
       '518 Sold', '198 Sold', '588 Sold', '53 Sold', '488 Sold',
       '224 Sold', '119 Sold', '149 Sold', '310 Sold', '504 Sold',
       '513 Sold', '83 Sold', '337 Sold', '196 Sold', '52 Sold',
       '197 Sold', '46 Sold', '188 Sold', '113 Sold', '150 Sold',
       '165 Sold', '69 Sold', '335 Sold', '955 Sold', '742 Sold',
       '850 Sold', '594 Sold', '938 Sold', '566 Sold', '419 Sold',
       '397 Sold', '583 Sold', '258 Sold', '868 Sold', '613 Sold',
       '247 Sold', '927 Sold', '528 Sold', '394 Sold', '474 Sold',
       '782 Sold', '435 Sold', '487 Sold', '171 Sold', '497 Sold',
       '426 Sold', '771 Sold', '311 Sold', '269 Sold', '412 Sold',
       '906 Sold', '145 Sold', '747 Sold', '219 Sold', '323 Sold',
       '429 Sold', '359 Sold', '656 Sold', '715 Sold', '520 Sold',
       '246 Sold', '379 Sold', '263 Sold', '159 Sold', '443 Sold',
       '163 Sold', '267 Sold', '578 Sold', '708 Sold', '251 Sold',
       '281 Sold', '764 Sold', '630 Sold', '328 Sold', '13K Sold',
       '924 Sold', '665 Sold', '932 Sold', '491 Sold', '820 Sold',
       '699 Sold', '829 Sold', '272 Sold', '936 Sold', '536 Sold',
       '334 Sold', '550 Sold', '178 Sold', '654 Sold', '303 Sold',
       '704 Sold', '861 Sold', '273 Sold', '287 Sold', '284 Sold',
       '215 Sold', '683 Sold', '207 Sold', '526 Sold', '262 Sold',
       '542 Sold', '296 Sold', '998 Sold', '425 Sold', '516 Sold',
       '943 Sold', '976 Sold', '579 Sold', '414 Sold', '859 Sold',
       '338 Sold', '227 Sold', '437 Sold', '347 Sold', '140 Sold',
       '67 Sold', '793 Sold', '477 Sold', '195 Sold', '129 Sold',
       '505 Sold', '106 Sold', '276 Sold', '440 Sold', '309 Sold',
       '845 Sold', '545 Sold', '510 Sold', '127 Sold', '259 Sold',
       '739 Sold', '230 Sold', '538 Sold', '190 Sold', '313 Sold',
       '947 Sold', '162 Sold', '79 Sold', '324 Sold', '717 Sold',
       '531 Sold', '737 Sold', '416 Sold', '839 Sold', '884 Sold',
       '979 Sold', '329 Sold', '660 Sold', '802 Sold', '464 Sold',
       '295 Sold', '847 Sold', '446 Sold', '399 Sold', '136 Sold',
       '290 Sold', '738 Sold', '558 Sold', '241 Sold', '172 Sold',
       '589 Sold', '390 Sold', '237 Sold', '377 Sold', '649 Sold',
       '985 Sold', '517 Sold', '348 Sold', '603 Sold', '937 Sold',
       '56 Sold', '719 Sold', '455 Sold', '151 Sold', '301 Sold',
       '168 Sold', '304 Sold', '917 Sold', '44 Sold', '507 Sold',
       '43 Sold', '817 Sold', '762 Sold', '722 Sold', '125 Sold',
       '463 Sold', '442 Sold'], dtype=object)

In [5]:
# Function to convert 'Sold Count' to numerical value
def convert_sold_count(value):
    if pd.isna(value):
        return np.nan
    if 'K Sold' in value:
        return float(value.replace('K Sold', '')) * 1000
    if 'Sold' in value:
        return float(value.replace(' Sold', ''))
    return float(value)

# Apply conversion to 'Sold Count'
data['Sold Count'] = data['Sold Count'].apply(convert_sold_count)

# Fill missing 'Sold Count' with the median of the column
data['Sold Count'].fillna(data['Sold Count'].median(), inplace=True)

# Display the cleaned data and updated info
data.head(), data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1078 entries, 0 to 1077
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            1078 non-null   object
 1   Rating in Stars  1078 non-null   object
 2   Rating Count     1078 non-null   int64
 3   Sold Count       1078 non-null   float64
 4   Voucher          1078 non-null   object
 5   Delivery         1078 non-null   object
 6   Currency         1078 non-null   object
 7   Current Price    1078 non-null   object
 8   Original Price   1010 non-null   object
 9   Link             1078 non-null   object
 10  Category         1078 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 92.8+ KB

(                                               Title Rating in Stars  \
 0  Yfashion Cartoon  Electronic  Watch Life Water...           4.6/5
 1  100% Imported LED watch for men , boys and Kid...           4.3/5
 2  1 Cartoon Characters Analog Wrist Watch For Ki...           4.5/5
 3  M3 Touch LED Bracelet Digital Watch Band Good ...           4.6/5
 4            led Watches For Boys and Girls and kids           4.4/5

    Rating Count  Sold Count Voucher       Delivery Currency Current Price  \
 0           707      6000.0       0  Free Delivery      Rs.           287
 1           293      1000.0       0              0      Rs.           270
 2            57       452.0       0  Free Delivery      Rs.           225
 3            51       332.0       0  Free Delivery      Rs.           160
 4            54       476.0       0  Free Delivery      Rs.           198

   Original Price                                               Link  \
 0        Rs. 520  //www.daraz.pk/products/y-led-3-i258744118-s14...
 1        Rs. 999  //www.daraz.pk/products/100-led-2023-i40167553...
 2        Rs. 750  //www.daraz.pk/products/1-i423737473-s20070599...
 3        Rs. 299  //www.daraz.pk/products/m3-led-led-i432456407-...
 4        Rs. 300  //www.daraz.pk/products/led-i398157365-s192654...

        Category
 0  Kids Watches
 1  Kids Watches
 2  Kids Watches
 3  Kids Watches
 4  Kids Watches  ,
 None)

In [6]:
import numpy as np

# Replace invalid ratings with NaN
invalid_ratings = ['5-Apr', '5-Mar', '5-May', '5-Jan', '0']
data['Rating in Stars'] = data['Rating in Stars'].replace(invalid_ratings, np.nan)

# Convert 'Rating in Stars' to numerical now that invalid entries are handled
data['Rating in Stars'] = data['Rating in Stars'].str.replace('/5', '').astype(float)

# Impute missing 'Rating in Stars' with the median of the column
data['Rating in Stars'].fillna(data['Rating in Stars'].median(), inplace=True)

In [7]:
# Convert 'Current Price' and 'Original Price' to numerical values by removing currency symbols and converting to float
data['Current Price'] = data['Current Price'].str.extract('(\d+)').astype(float)
data['Original Price'] = data['Original Price'].str.extract('(\d+)').astype(float)

# Fill missing 'Original Price' values with the median
data['Original Price'].fillna(data['Original Price'].median(), inplace=True)

# Display the cleaned data and updated information
data.head(), data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1078 entries, 0 to 1077
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            1078 non-null   object
 1   Rating in Stars  1078 non-null   float64
 2   Rating Count     1078 non-null   int64
 3   Sold Count       1078 non-null   float64
 4   Voucher          1078 non-null   object
 5   Delivery         1078 non-null   object
 6   Currency         1078 non-null   object
 7   Current Price    1078 non-null   float64
 8   Original Price   1078 non-null   float64
 9   Link             1078 non-null   object
 10  Category         1078 non-null   object
dtypes: float64(4), int64(1), object(6)
memory usage: 92.8+ KB

(                                               Title  Rating in Stars  \
 0  Yfashion Cartoon  Electronic  Watch Life Water...              4.6
 1  100% Imported LED watch for men , boys and Kid...              4.3
 2  1 Cartoon Characters Analog Wrist Watch For Ki...              4.5
 3  M3 Touch LED Bracelet Digital Watch Band Good ...              4.6
 4            led Watches For Boys and Girls and kids              4.4

    Rating Count  Sold Count Voucher       Delivery Currency  Current Price  \
 0           707      6000.0       0  Free Delivery      Rs.          287.0
 1           293      1000.0       0              0      Rs.          270.0
 2            57       452.0       0  Free Delivery      Rs.          225.0
 3            51       332.0       0  Free Delivery      Rs.          160.0
 4            54       476.0       0  Free Delivery      Rs.          198.0

    Original Price                                               Link  \
 0           520.0  //www.daraz.pk/products/y-led-3-i258744118-s14...
 1           999.0  //www.daraz.pk/products/100-led-2023-i40167553...
 2           750.0  //www.daraz.pk/products/1-i423737473-s20070599...
 3           299.0  //www.daraz.pk/products/m3-led-led-i432456407-...
 4           300.0  //www.daraz.pk/products/led-i398157365-s192654...

        Category
 0  Kids Watches
 1  Kids Watches
 2  Kids Watches
 3  Kids Watches
 4  Kids Watches  ,
 None)

In [8]:
# Feature Engineering: Create new features

# 1. Discount Amount
data['Discount Amount'] = data['Original Price'] - data['Current Price']

# 2. Discount Percentage
data['Discount Percentage'] = (data['Discount Amount'] / data['Original Price']) * 100

# 3. Price to Sold Ratio
data['Price to Sold Ratio'] = data['Current Price'] / data['Sold Count']

# 4. Rating Effectiveness
data['Rating Effectiveness'] = data['Rating in Stars'] * data['Rating Count']

# Display the dataset with new features
data.head()

,Title,Rating in Stars,Rating Count,Sold Count,Voucher,Delivery,Currency,Current Price,Original Price,Link,Category,Discount Amount,Discount Percentage,Price to Sold Ratio,Rating Effectiveness
0,Yfashion Cartoon Electronic Watch Life Water...,4.6,707,6000.0,0,Free Delivery,Rs.,287.0,520.0,//www.daraz.pk/products/y-led-3-i258744118-s14...,Kids Watches,233.0,44.807692,0.047833,3252.2
1,"100% Imported LED watch for men , boys and Kid...",4.3,293,1000.0,0,0,Rs.,270.0,999.0,//www.daraz.pk/products/100-led-2023-i40167553...,Kids Watches,729.0,72.972973,0.270000,1259.9
2,1 Cartoon Characters Analog Wrist Watch For Ki...,4.5,57,452.0,0,Free Delivery,Rs.,225.0,750.0,//www.daraz.pk/products/1-i423737473-s20070599...,Kids Watches,525.0,70.000000,0.497788,256.5
3,M3 Touch LED Bracelet Digital Watch Band Good ...,4.6,51,332.0,0,Free Delivery,Rs.,160.0,299.0,//www.daraz.pk/products/m3-led-led-i432456407-...,Kids Watches,139.0,46.488294,0.481928,234.6
4,led Watches For Boys and Girls and kids,4.4,54,476.0,0,Free Delivery,Rs.,198.0,300.0,//www.daraz.pk/products/led-i398157365-s192654...,Kids Watches,102.0,34.000000,0.415966,237.6

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Calculate the maximum finite value again
max_finite_value = data[data['Price to Sold Ratio'] != np.inf]['Price to Sold Ratio'].max()

# Replace infinities with the maximum finite value
data['Price to Sold Ratio'].replace([np.inf, -np.inf], max_finite_value, inplace=True)

# Reconstruct features after modifications
X = data[['Rating in Stars', 'Rating Count', 'Sold Count', 'Current Price', 'Original Price',
          'Discount Amount', 'Discount Percentage', 'Price to Sold Ratio', 'Rating Effectiveness']]

# Retry model training
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Predicting on the test set
y_pred = model.predict(X_test)

# Calculate metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

mse, r2

(169467.49036539352, 0.9657129419066119)

In [11]:
# Extract feature importances from the model
feature_importances = model.feature_importances_
features = X.columns

# Create a DataFrame for better visualization
importance_df = pd.DataFrame({'Feature': features, 'Importance': feature_importances}).sort_values(by='Importance', ascending=False)

importance_df

                Feature  Importance
2            Sold Count    0.814454
1          Rating Count    0.100082
8  Rating Effectiveness    0.076242
5       Discount Amount    0.005887
3         Current Price    0.001698
7   Price to Sold Ratio    0.000680
4        Original Price    0.000569
0       Rating in Stars    0.000275
6   Discount Percentage    0.000114

In [ ]:
# Prepare the input data for the hypothetical product
hypothetical_product = pd.DataFrame({
    'Rating in Stars': [4.5],
    'Rating Count': [300],
    'Sold Count': [500],  # Placeholder, will not use in prediction but needed for input consistency
    'Current Price': [250],
    'Original Price': [300],
    'Discount Amount': [50],
    'Discount Percentage': [16.67],
    'Price to Sold Ratio': [0.5],  # Placeholder, will recalculate based on prediction
    'Rating Effectiveness': [1350]
})

# Since 'Sold Count' is a direct measure of sales, we'll exclude it from the features for a meaningful prediction
features_for_prediction = ['Rating in Stars', 'Rating Count', 'Current Price', 'Original Price',
                           'Discount Amount', 'Discount Percentage', 'Price to Sold Ratio', 'Rating Effectiveness']

# Predict using the model
predicted_sold_count = model.predict(hypothetical_product[features_for_prediction])

# Output the predicted sold count
predicted_sold_count[0]

In [13]:
# Retrain the model excluding 'Sold Count'
X_train_revised = X_train.drop(columns='Sold Count')
X_test_revised = X_test.drop(columns='Sold Count')

# Reinitialize and retrain the Random Forest Regressor without 'Sold Count'
model_revised = RandomForestRegressor(n_estimators=100, random_state=42)
model_revised.fit(X_train_revised, y_train)

# Redefine the hypothetical product without 'Sold Count'
hypothetical_product_revised = hypothetical_product.drop(columns='Sold Count')

# Predict using the revised model
predicted_sold_count_revised = model_revised.predict(hypothetical_product_revised[features_for_prediction])

# Output the predicted sold count
predicted_sold_count_revised[0]

1095.05